<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="output.css">
  <title>Home</title>
</head>
<body class="bg-blue-50 text-blue-900">
 <%- include('partials/navbar')%>
  <main class="p-8 flex justify-center items-center h-screen">
    <h1 class="text-4xl font-bold mb-4 text-center">Welcome to the Home Page</h1>
  </main>
</body>
</body>
</html>