<div>
  <form action="/fav-page">
      <button type="submit" class="bg-green-600 p-2 hover:bg-emerald-900">Add To Favorite</button>
      <input type="hidden" name="id" value="<%= house.id %>">
  </form>
</div>