<div>
  <form action="/fav-page" method="post">
      <button type="submit" class="bg-teal-500 text-white px-4 py-2 rounded hover:bg-teal-600 transition-colors">Add To Favorite</button>
      <input type="hidden" name="id" value="<%= house.id %>">
  </form>
</div>